@import "assets/bootstrap.min.css";
@import "assets/font-awesome/css/all.min.css";

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 7;
}
