<div class="d-flex flex-column p-3">
  <div class="d-flex align-items-center">
    <button type="button" class="btn btn-dark mr-3" (click)="newImage()">
      <span class="fa fa-plus-circle mr-2"></span>
      <span class="text">New Image</span>
    </button>
  </div>
</div>
<div class="d-flex flex-wrap pt-3">
  <div class="image-block rounded bg-white border mb-3 ml-3 p-2 position-relative" *ngFor="let item of imageList;">
    <table>
      <tr>
        <th colspan="2" class="text-primary">
          <div class="image-name">{{item.RepoTags | imageName}}</div>
        </th>
      </tr>
      <tr>
        <th class="px-2 text-muted">Image ID</th>
        <td>{{item.Id | toChars:7:12}}</td>
      </tr>
      <tr>
        <th class="px-2 text-muted">Size</th>
        <td>{{item.Size | size}}</td>
      </tr>
      <tr>
        <th class="px-2 text-muted">Created</th>
        <td>{{item.Created | date:'medium'}}</td>
      </tr>
      <tr>
        <th class="px-2 text-muted align-top">Tags</th>
        <td>
          <div *ngFor="let tag of item.RepoTags">{{tag}}</div>
        </td>
      </tr>
    </table>
    <div class="image-options position-absolute d-flex align-items-center border-left border-bottom bg-light">
      <div class="action-btn p-2 d-flex align-items-center border-right" (click)="downloadImage(item)"
        ngbTooltip="Download Tarball" placement="bottom">
        <span class="fa fa-download text-dark"></span>
      </div>
      <div class="action-btn p-2 d-flex align-items-center border-right" (click)="newTag(item)" ngbTooltip="New Tag"
        placement="bottom">
        <span class="fa fa-tag text-primary"></span>
      </div>
      <div class="action-btn p-2 d-flex align-items-center" (click)="deleteImg(item)" ngbTooltip="Delete Image"
        placement="bottom">
        <span class="fa fa-trash text-danger"></span>
      </div>
    </div>
  </div>
</div>

<ng-template #tagImageEle let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        <span class="fa fa-tag text-primary mr-2"></span>
        <span>New Tag</span>
      </div>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="newTag">Tag name</label>
        <input type="text" class="form-control" [(ngModel)]="customTag">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark mr-3" (click)="c(false)">Cancel</button>
      <button type="button" class="btn btn-success" (click)="triggerTag()">Create</button>
    </div>
  </div>
</ng-template>

<ng-template #downloadImageEle let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        <span class="fa fa-download text-primary mr-2"></span>
        <span>Download Image</span>
      </div>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="newTag">Tag name</label>
        <div class="form-group">
          <select #tagSelect name="tag" id="tag" class="custom-select" (change)="onTagChange($event.target.value)">
            <option value="">---select---</option>
            <option [value]="tag" *ngFor="let tag of selectedImage.RepoTags">{{tag}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark mr-3" (click)="c(false)">Cancel</button>
      <button type="button" class="btn btn-success" (click)="triggerDownload()" [disabled]="!seletedTag">Create</button>
    </div>
  </div>
</ng-template>

<ng-template #deleteImageEle let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        <span class="fa fa-trash text-danger mr-2"></span>
        <span>Delete Image</span>
      </div>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this image?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark mr-3" (click)="c(false)">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="triggerDelete()">Delete</button>
    </div>
  </div>
</ng-template>


<ng-template #newImageEle let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        <span class="fa fa-plus-circle text-dark mr-2"></span>
        <span>New Image</span>
      </div>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="customFile">Upload a zip</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" (change)="onFileChange($event)">
          <label class="custom-file-label" for="customFile">{{zipDataName?zipDataName:'Choose file'}}</label>
        </div>
      </div>
      <h4 class="text-secondary font-weight-bold text-center">OR</h4>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="repo">Build from Repo</label>
            <div class="input-group">
              <select class="custom-select" name="repo" id="repo" [(ngModel)]="imageBuildData.repo"
                (change)="onRepoChange($event)">
                <option [value]="null">&lt;&lt;repo&gt;&gt;</option>
                <option [value]="repo._id" *ngFor="let repo of repoList">{{repo.name}}</option>
              </select>
              <select class="custom-select" name="branch" id="branch" [(ngModel)]="imageBuildData.branch">
                <option [value]="null">&lt;&lt;branch&gt;&gt;</option>
                <option [value]="branch" *ngFor="let branch of branchList">{{branch}}</option>
              </select>
              <input type="text" class="form-control col-3" name="tag" id="tag" [(ngModel)]="imageBuildData.tag" placeholder="Image Tag">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark mr-3" (click)="c(false)">Cancel</button>
      <button type="button" class="btn btn-success" (click)="triggerNewImage()">Build Image</button>
    </div>
  </div>
</ng-template>