<div class="d-flex flex-wrap pt-3">
  <div class="image-block rounded bg-white border mb-3 ml-3 p-2 position-relative" *ngFor="let item of imageList;">
    <table>
      <tr>
        <th colspan="2" class="text-primary">
          <div class="image-name">{{item.RepoTags | imageName}}</div>
        </th>
      </tr>
      <tr>
        <th class="px-2 text-muted">Image ID</th>
        <td>{{item.Id | toChars:7:12}}</td>
      </tr>
      <tr>
        <th class="px-2 text-muted">Size</th>
        <td>{{item.Size | size}}</td>
      </tr>
      <tr>
        <th class="px-2 text-muted">Created</th>
        <td>{{item.Created | date:'medium'}}</td>
      </tr>
      <tr>
        <th class="px-2 text-muted align-top">Tags</th>
        <td>{{item.RepoTags}}</td>
      </tr>
    </table>
    <div class="image-options position-absolute d-flex align-items-center border-left border-bottom bg-light">
      <div class="action-btn p-2 d-flex align-items-center border-right" (click)="downloadImage(item)"
        ngbTooltip="Download Tarball" placement="bottom">
        <span class="fa fa-download text-dark"></span>
      </div>
      <div class="action-btn p-2 d-flex align-items-center border-right" (click)="newTag(item)" ngbTooltip="New Tag"
        placement="bottom">
        <span class="fa fa-tag text-primary"></span>
      </div>
      <div class="action-btn p-2 d-flex align-items-center border-right" ngbTooltip="Create Container" placement="bottom">
        <span class="fa fa-plus-circle text-success"></span>
      </div>
      <div class="action-btn p-2 d-flex align-items-center" (click)="deleteImg(item)" ngbTooltip="Delete Image"
        placement="bottom">
        <span class="fa fa-trash text-danger"></span>
      </div>
    </div>
  </div>
</div>

<ng-template #tagImageEle let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        <span class="fa fa-tag text-primary mr-2"></span>
        <span>New Tag</span>
      </div>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="newTag">Tag name</label>
        <input type="text" class="form-control" [(ngModel)]="customTag">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark mr-3" (click)="c(false)">Cancel</button>
      <button type="button" class="btn btn-success" (click)="triggerTag()">Create</button>
    </div>
  </div>
</ng-template>

<ng-template #downloadImageEle let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        <span class="fa fa-download text-primary mr-2"></span>
        <span>Download Image</span>
      </div>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="newTag">Tag name</label>
        <div class="form-group">
          <select #tagSelect name="tag" id="tag" class="custom-select" (ngModelChange)="onTagChange($event)">
            <option value="">Custom</option>
            <option [value]="tag" *ngFor="let tag of selectedImage.RepoTags">{{tag}}</option>
          </select>
        </div>
        <div *ngIf="tagSelect.selectedIndex === 0" class="form-group">
          <input type="text" class="form-control" [(ngModel)]="customTag">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark mr-3" (click)="c(false)">Cancel</button>
      <button type="button" class="btn btn-success" (click)="triggerDownload()">Create</button>
    </div>
  </div>
</ng-template>

<ng-template #deleteImageEle let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        <span class="fa fa-trash text-danger mr-2"></span>
        <span>Delete Image</span>
      </div>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this image?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark mr-3" (click)="c(false)">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="triggerDelete()">Delete</button>
    </div>
  </div>
</ng-template>